body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
img {
    display: flex;
    margin: auto;
    overflow: scroll;
    width: 100%;
    height: 100%;
}