.container {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    height: 100%;
}

.content_header {
    margin-left: 10px;
    padding-left: 290px;
    display: flex;
    width: fit-content;
    background-color: rgb(237, 237, 237);
}

.table {
    overflow: scroll;
    max-height: 75%;
}

.content_row {
    display: flex;
    text-align: center;
    width: fit-content;
}

.content_row__name {
    margin-left: 10px;
    width: 279px;
    text-align: start;
    height: 70px;
    border: 0.1px solid rgba(0, 0, 0, 0.097);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_row__date {
    font-size: 0.85rem;
}

.core_highlight {
    background-image: linear-gradient(225deg, green, green 5px, transparent 10px, transparent);
}

.menu {
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #363535;
    padding: 10px;
}

.item {
    padding: 10px 20px;
    font-size: 20px;
    color: #c1c1c1;
    transition: all 0.5s;
    border-radius: 5px;
}

.item:hover {
    background-color: black;
    transition: all 0.5s;
}

.hidden {
    display: none !important;
}

.month_pick_wrapper {
    margin: 0.5% auto;
    width: 930px;
}

.month_pick {
    width: 20%;
    padding: 10px 15px;
    margin: 2% 1%;
    border: none;
    border-radius: 7px;
}

.time_section {
    display: flex;
    width: min-content;
    height: min-content;
    gap: 10px;
    margin-bottom: 3px;
    font-size: 1.3rem;
    pointer-events: none;
}

.outcome,
.income {
    font-size: 0.8em;
    pointer-events: none;
}

.ip {
    font-size: 0.8em;
}

.employee_stat_container__item {
    width: 108px;
    height: 108px;
    display: flex;
    padding: 7px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #c1c1c129;
    border-radius: 7px;
    cursor: pointer;
}

.employee_stat_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 914px;
}

.today {
    background-color: #3635352a;
}

.margin-10 {
    margin: 0 auto;
}

.employee_stat_container__item_date {
    font-size: 1.3em;
    font-weight: bold;
}

.employee_stat_container__item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table_wrapper {
    border: 1px solid #ccc;
    background: #eee;
    width: 98%;
    height: fit-content;
    max-height: 75%;
    overflow: auto;
    position: relative;
    margin: 0 auto;
}

table {
    border-spacing: 0;
    white-space: nowrap;
    table-layout: fixed;
}

thead,
tr>th {
    position: sticky;
    background: #eee;
}

thead {
    top: 0;
    z-index: 2;
}

tr>th {
    left: 0;
    z-index: 1;
}

thead tr>th:first-child {
    z-index: 3;
}

.name {
    min-width: max-content;
    max-width: max-content;
    text-wrap: wrap;
}

th,
td {
    height: 50px;
    min-width: 105px;
    max-width: 105px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 1px;
    text-align: left;
    padding: 10px;
    font-family: sans-serif;
}

.center {
    text-align: center;
}

td {
    background: #fff;
}

th:first-child {
    border-right-width: 1px;
    border-left: 0;
}

th+td,
th:first-child+th {
    border-left: 0;
}

tbody tr:last-child>* {
    border-bottom: 0;
}

tr>*:last-child {
    border-right: 0;
}

.current {
    background-color: #0000000d;
}

.date_desc {
    position: absolute;
    z-index: 999;
    display: block;
    padding: 10px;
    background-color: rgb(237, 236, 236);
}

.hide {
    display: none;
}