.container {
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.content_header {
    margin-left: 10px;
    padding-left: 290px;
    display: flex;
    width: fit-content;
    background-color: rgb(237, 237, 237);
}

.table_body {
    overflow: scroll;
}

.content_row {
    display: flex;
    text-align: center;
    width: fit-content;
}

.content_row__name {
    margin-left: 10px;
    width: 279px;
    text-align: start;
    height: 70px;
    border:  0.1px solid rgba(0, 0, 0, 0.097);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_row__date {
    width: 120px;
    text-align: center;
    align-items: center;
    height: 70px;
    border:  0.1px solid rgba(0, 0, 0, 0.097);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu {
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #363535;
    padding: 10px;
}

.item {
    padding: 10px 20px;
    font-size: 20px;
    color: #c1c1c1;
    transition: all 0.5s;
    border-radius: 5px;
}

.item:hover {
    background-color: black;
    transition: all 0.5s;
}

.hidden {
    display: none !important;
}

.month_pick {
    width: 20%;
    padding: 5px 10px;
    margin: 2% 1%;
}

.time_section {
    display: flex;
    width: min-content;
    height: min-content;
    gap: 10px;
}

.outcome, 
.income {
    font-size: 0.9em;
}

.ip {
    font-size: 0.8em;
}

.employee_stat_container__item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #c1c1c147;
    padding: 1%;
    border-radius: 12px;
}

.employee_stat_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.margin-10 {
    margin-left: 10%;
    margin-right: 10%;
}

.employee_stat_container__item_date {
    font-size: 1.3em;
    font-weight: bold;
}

.employee_stat_container__item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}