
* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}

header {
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.header_logo {
    width: fit-content;
    display: flex;
    color: black;
    margin: 1%;
    font-size: 1.9em;
    font-weight: bold;
}

.header_options {
    display: flex;
    margin: 1% 7%;
    align-items: center;
}

.header_options__item {
    color: black;
    font-size: 1.1em;
    transition: all 0.5s;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #32383b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 5% auto;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header_group {
    width: 50%;
    display: flex;
    gap: 12%;
    margin: auto 3%;
    justify-content: flex-end;
    align-items: center;
}

.logout {
    padding: 7px 23px;
    background-color: black;
    border: 1.5px solid black;
    color: white;
    border-radius: 7px;
    transition: all 0.5s;
}
.logout:hover {
    background-color: white;
    color: black;
    transition: all 0.5s;
}

.back {
    position: relative;
    top: 50px;
    left: 50px;
}

textarea {
    resize: vertical;
}